{
"bind_addr": "{{ consul_bind_address }}",
"bootstrap": true,
"client_addr": "{{ consul_client_address }}",
"datacenter": "{{ datacenter_name }}",
"data_dir": "{{ consul_data_directory }}",
"domain": "{{ domain_name }}",
"enable_syslog": true,
"encrypt": "{{ consul_token }}",
"log_level": "INFO",
"start_join": [
{% for consul_server in groups['servers'] %}
   "{{ consul_server }}"
{% endfor %}
],
"server": true,
"ui_config": { "enabled": true }
}
