{
"bootstrap": true,
"server": true,
"datacenter": "{{ datacenter_name }}",
"data_dir": "{{ consul_data_directory }}",
"encrypt": "{{ consul_token }}",
"log_level": "INFO",
"enable_syslog": true,
"start_join": ["{{ hostvars[groups['servers'][0]].advertise_ip }}"]
}
