{
"bind_addr": "{{ advertise_ip }}",
"bootstrap": true,
"client_addr": "{{ consul_client_address }}",
"datacenter": "{{ datacenter_name }}",
"data_dir": "{{ consul_data_directory }}",
"domain": "{{ domain_name }}",
"enable_syslog": true,
"encrypt": "{{ consul_token }}",
"log_level": "INFO",
"retry_join": [ {{ consul_list|trim() }}  ],
"start_join": [ {{ consul_list|trim() }}  ],
"server": true,
"ui_config": { "enabled": true }
}
